@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@font-face {
    font-family: 'swiper-icons';
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
}


* {
    font-family: "League Spartan", serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
    background-color: var(--color-component-variant1);
}
img::selection {
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
    /* --color-bg: #1F2028;
    --color-primary: #00cbff;
    --color-component: #2E3039;
    --color-component-variant1: #262830;
    --color-component-variant2: #43454c; */
    --color-text: #FFF;
    --color-text-variant: #a9adc1;
    --transition: all .5s ease;
    
    --color-bg: #0d1117;
    --color-primary: #00cbff;
    --color-component: #212933;
    --color-component-variant1: #1b212a;
    --color-component-variant2: #2E3039;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-optical-sizing: auto;
    background-color: var(--color-bg);
    max-width: 1440px;
    font-style: normal;
    overflow-x: hidden;
    margin: 0 auto;
}




/* TEXTOS */
h1, h2, h3, h4, h5, h6, p {
    color: var(--color-text);
    font-size: 9.6rem;
    font-weight: 700;
}
h2 {
    font-size: 2.8rem;
    font-weight: 400;
}
h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
h4 {
    font-size: 2.8rem;
    font-weight: 600;
}
p {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--color-text-variant);
}
li {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: 400;
}
.btn {
    font-size: 2.1rem;
    font-weight: 600;
}
.menu svg {
    font-size: 4rem;
}
nav .nav-menu-item a,
.header-container h1::before, .header-container h2::before,
.header-container h1 .last-letter::after, .header-container h2 .last-letter::after,
.project-title,
.search-container .search, .article-title, .article-container p, .article-container li, table th .align-left p, 
label, textarea, input  {
    font-size: 2.1rem;
    font-weight: 500;
}
/* ARTICLE */
.category-buttons .category-btn {
    font-size: 1.8rem;
    font-weight: 600;
} 
.article-title {
    line-height: 2.6rem;
}
.article-container .btn svg {
    font-size: 2.4rem;
}
.article-container h1, .article-container h2, .article-container h3, .article-container h3 span, .article-container h4 {
    font-weight: 600;
}
.article-container h1 a:hover, .article-container h2 a:hover, .article-container h3 a:hover, .article-container h4 a:hover, .article-container p a:hover, .article-container li a:hover {
    text-decoration: underline;
}
.article-container h1 {
    font-size: 4.8rem;
}
time {
    font-size: 1.8rem;
}
.article-container h2 {
    font-size: 3.2rem;
}
.article-container h3, .article-container h4 {
    font-size: 2.8rem;
}
.article-container h3 span {
    font-size: 2.1rem;
}
code {
    font-size: 2.1rem;
    line-height: 2.6rem;
}
pre .lenguaje svg {
    font-size: 3.2rem;
}
/* BIOGRAPHY */
.biography h1 {
    font-size: 4.8rem;
}
.biography h2 {
    font-size: 2.1rem;
}
/* SKILLS */
.skills-container h4, .skills span {
    font-size: 2.8rem;
    font-weight: 600;
}
.skills span {
    font-size: 1.8rem;
}
/* CONTACT */
label, textarea, input  {
    font-size: 1.8rem;
}
textarea, input {
    font-weight: 400;
}
/* WORKSPACE */




/* COLORES */
hr {
    border: 1px solid var(--color-component-variant1);
}
.btn {
    color: var(--color-text-variant);
    background-color: var(--color-component);
}
.btn-variant {
    color: var(--color-text-variant);
    background-color: var(--color-component-variant1);
}
.btn-primary {
    color: var(--color-text);
    background-color: var(--color-primary);
}
.scroll-to-top.scrollToTopButton {
    background-color: var(--color-primary);
}
nav {
    background-color: var(--color-bg);
}
nav ul {
    background-color: var(--color-bg);
}
.nav-menu-logo svg path {
    fill: var(--color-primary);
}
nav .nav-menu-item a {
    color: var(--color-text-variant);
}
nav .nav-menu-item a.active {
    color: var(--color-text);
}
nav .nav-menu-item a:hover:after {
    background-color: var(--color-text-variant);
}
nav .nav-menu-item a.active:after,
nav .nav-menu-item a.active:hover:after,
nav .nav-menu-item a.active:focus:after {
    background-color: var(--color-text);
}
nav .nav-menu-logo a:hover:after,
nav .nav-menu-logo a:focus:after,
nav .nav-menu-logo a.active:after,
nav .nav-menu-logo a.active:hover:after,
nav .nav-menu-logo a.active:focus:after {
    background-color: transparent;
}
.header-container h1 {
    color: var(--color-text);
}
.header-container h1 {
    color: var(--color-primary);
}
.header-container h2 {
    color: var(--color-text);
}

.header-container h1::before,
.header-container h2::before {
    color: var(--color-component-variant2);
}
.header-container h1 .last-letter::after,
.header-container h2 .last-letter::after {
    color: var(--color-component-variant2);
}

.search-container .search {
    background-color: var(--color-component);
    color: var(--color-text-variant);
}
.category-btn {
    font-family: 'League Spartan', sans-serif;
}
.category-btn:hover {
    background-color: var(--color-component-variant1);
}
.category-btn.active {
    color: var(--color-text);
    background-color: var(--color-primary);
}
.article {
    background-color: transparent;
}
.project {
    background-color: var(--color-component);
}
.project-title {
    color: var(--color-text);
}
.project-technologies svg {
    background-color: var(--color-component-variant1);
}
.project-technologies svg path {
    fill: var(--color-text-variant);
}
.article:hover {
    background-color: var(--color-component-variant1);
}
.article-title {
    color: var(--color-text);
}
time {
    color: var(--color-text-variant);
}
.article-container .btn:hover {
    background-color: var(--color-component-variant1);
}
.article-container .btn svg path {
    fill: var(--color-text);
}
.article-container h1 {
    color: var(--color-text);
}
.article-container h2 {
    color: var(--color-text);
}
.article-container h3 {
    color: var(--color-text);
}
.article-container h4 {
    color: var(--color-text);
}
.article-container p {
    color: var(--color-text-variant);
}
.article-container .marked {
    background-color: var(--color-component-variant1);
}
.article-container .comment {
    color: var(--color-text-variant);
}
.article-container li {
    color: var(--color-text-variant);
}
.article-container li::marker {
    color: var(--color-text-variant);
}
.article-container h1 a,
.article-container h2 a,
.article-container h3 a,
.article-container h4 a,
.article-container p a,
.article-container li a {
    color: var(--color-primary);
}
.article-container h1 a:hover,
.article-container h2 a:hover,
.article-container h3 a:hover,
.article-container h4 a:hover,
.article-container p a:hover,
.article-container li a:hover {
    text-decoration: underline;
}
pre, code {
    color: var(--color-text-variant);
    background-color: var(--color-component-variant1);
}
pre .lenguaje svg path {
    fill: var(--color-component-variant2);
}
table tr {
    border-top: 1.5px solid var(--color-component-variant1);
    border-bottom: 1.5px solid var(--color-component-variant1);
}
.article-container h3 span {
    color: var(--color-text-variant);
}
code::selection {
    background-color: var(--color-component);
}   
.book {
    background-color: var(--color-component);
}
.recommended-articles {
    border-top: 2px solid var(--color-component-variant1);
}
.frontpage {
    background-color: var(--color-component-variant1);
}
.aboutInfo img {
    border: .4rem solid var(--color-bg);
}
.biography h2 {
    color: var(--color-text-variant);
}
.aboutMe-section h3, .about-container h3 {
    color: var(--color-text);
}
.workspace-container h3 {
    color: var(--color-text);
}
.workspace-container ul li {
    color: var(--color-text-variant);
}
.workspace-container div div img {
    background-color: var(--color-component);
}
.skills span {
    color: var(--color-text-variant);
    background-color: var(--color-component);
}
.contact-section form label {
    color: var(--color-text-variant);
}
.contact-section form input {
    color: var(--color-text);
    background-color: var(--color-component);
}
.contact-section form input::placeholder {
    color: var(--color-text-variant);
}
.contact-section form textarea {
    color: var(--color-text);
    background-color: var(--color-component);
}
.contact-section form textarea::placeholder {
    color: var(--color-text-variant);
}
nav .nav-menu-item a {
    color: var(--color-text-variant);
}
.social-link svg path {
    fill: var(--color-component-variant2);
}
.social-link:hover svg path {
    fill: var(--color-text);
}
.scrollToTopButton svg path {
    fill: var(--color-text);
}












hr {
    margin: 0 auto;
    width: calc(100% - 12rem);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container hr {
    width: 100%;
}
section {
    width: 100%;
    padding: 8rem 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.cta {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 1.2rem;
    height: max-content;
}
.btn {
    text-align: center;
    display: inline-block;
    padding: 1.4rem 2rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    cursor: pointer;
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.scroll-to-top.scrollToTopButton {
    bottom: 6.6rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: .8rem;
    width: 4.4rem;
    height: 4.4rem;
    padding: .8rem;
    /* box-shadow: 0 9px 25px 0 #2E3039; */
    box-shadow: none;
    border: none;
    outline: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.scrollToTopButton svg {
    width: 2.8rem;
    height: 2.8rem;
}
/* ____________ * _____________ */
/* ____________ NAV _____________ */
nav {
    width: 100%;
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 2rem 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav ul {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    column-gap: 4.8rem;
}
nav .nav-menu-item {
    display: flex;
    place-content: center;
}
.nav-menu-logo svg {
    height: 3.6rem;
}
nav .nav-menu-item a {
    cursor: pointer;
    align-self: center;
    position: relative;
    white-space: nowrap;
}
nav .nav-menu-item a:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    transition: transform 0.25s ease;
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
nav .nav-menu-item a:hover:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
nav .nav-menu-item a.active:after,
nav .nav-menu-item a.active:hover:after,
nav .nav-menu-item a.active:focus:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
/* MENU ICON */
.menu {
    display: none;
}
/* MENU ICON */
/* ____________ NAV _____________ */
/* ____________ HEADER _____________ */
.header-section {
    padding: 12rem 6rem 22.5rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.header-container {
    display: grid;
    grid-auto-flow: row;
    /* align-self: center; */
    gap: 3.2rem;
    min-width: 26rem;
    max-width: 80rem;
}
.header-container h1 {
    position: relative;
}
.header-container h2 {
    position: relative;
}
.header-container h1::before,
.header-container h2::before {
    font-family: 'La Belle Aurore', cursive;
    content: "<h1>";
    position: absolute;
    top: -4rem;
}
.header-container h2::before {
    content: "<p>";
    top: -4rem;
}
.header-container h1 .last-letter::after,
.header-container h2 .last-letter::after {
    font-family: 'La Belle Aurore', cursive;
    content: "</h1>";
    position: relative;
    left: 1.6rem;
}
.header-container h2 .last-letter::after {
    content: "</p>";
}
/* ____________ HEADER _____________ */
/* ____________ PROJECT/BLOG PAGE _____________ */

.project-section, .blog-section {
    display: flex;
    padding: 6rem 6rem 8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.project-section {
    flex-direction: row;
}
.blog-section {
    flex-direction: column;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2rem;
    max-width: 94rem;
}
.blog-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.6rem;
    max-width: 80rem;
}
.search-container {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 0 2rem;
    min-width: 42rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.search-container .search {
    width: 100%;
    padding: 1.6rem 2rem;
    border: 0;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    min-width: 26rem;
    max-width: 80rem;
    margin: 0 0 4rem;
}
/* ____________ PROJECT/BLOG PAGE _____________ */
/* ____________ PROJECT/ARTICLE CARD _____________ */
.project, .article {
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.project, .article {
    display: flex;
    padding: .8rem;
    gap: 2rem;
}
.project {
    width: 460px;
    flex-direction: column;
}
.article {
    flex-direction: row;
}
.project img, .article img {
    object-fit: cover;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.article img {
    width: 32rem;
}
.article .article-description {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
/* ____________ PROJECT/ARTICLE CARD _____________ */
/* ____________ PROJECT CARD _____________ */
.project .project-description {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.project-technologies {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: .8rem;
}
.project-technologies svg {
    padding: .8rem;
    width: 4rem;
    height: 4rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.project-buttons {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}
.project-buttons .btn {
    width: 100%;
}
/* ____________ PROJECT CARD _____________ */
/* ____________ ARTICLE PAGE _____________ */
.article-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 0 auto;
}
.article-container {
    padding: 2 0 6rem 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container .btn {
    margin-bottom: 2rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container .btn-back {
    margin: 2rem 0;
    width: 4rem;
    height: 4rem;
    padding: .8rem;
}
.article-container h1 {
    margin-bottom: 1rem;
}
.article-container h2 {
    margin-bottom: 2rem;
}
.article-container h3 {
    margin-bottom: 2rem;
}
.article-container h4 {
    margin-bottom: 1rem;
}
.article-container p {
    margin-bottom: 1rem;
}
.article-container .marked {
    padding: .4rem .8rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.article-container .comment {
    opacity: 30%;
}
.article-container ul, .article-container ol {
    padding-left: 1.4rem;
    margin-bottom: 2rem;
}
.article-container li {
    margin-bottom: 1rem;
}
.article-container > img, .article-container > .video {
    min-width: 44rem;
    max-width: 64rem;
    margin: 2rem 0;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-container .video {
    position: relative;
    padding-bottom: 56.25%;

}
.article-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-container video {
    width: 100%;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
/* CODE */
pre {
    margin: 2rem 0;
}
pre .lenguaje {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
pre .lenguaje svg {
    position: absolute;
    border-radius: .4rem;
    transform: translate(-1.6rem, -2rem);
    -webkit-transform: translate(-1.6rem, -2rem);
    -moz-transform: translate(-1.6rem, -2rem);
    -ms-transform: translate(-1.6rem, -2rem);
    -o-transform: translate(-1.6rem, -2rem);
}
pre, code {
    display: block;
    overflow: auto;
    padding: 1rem 1rem 1rem 1rem;
    tab-size: 2;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* CODE */
/* TABLE */
table {
    border-collapse: collapse;
}
th, td {
    vertical-align: top;
    padding: 1.6rem 1.2rem;
    text-align: left;
}
table th.align-left {
    width: 18rem;
}
/* TABLE */
/* BOOK */
.book {
    width: 240px;
    margin-bottom: 2rem;
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.book img {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
/* BOOK */
.recommended-articles {
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.recommended-articles a {
    width: 100%;
}
/* ____________ ARTICLE PAGE _____________ */
/* ____________ ABOUT ME _____________ */
.frontpage {
    width: 100%;
    height: 20rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
/* ABOUT ME */
.aboutMe-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
}
/* SECTION 1 */
.aboutInfo {
    margin: 0;
    padding: 0 6rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem);
    -moz-transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    -o-transform: translateY(-5rem);
}
.aboutInfo img {
    width: 16.0rem;
    height: 16.0rem;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.aboutInfo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
}
.aboutInfo-container .biography {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
/* SECTION 1 */
/* SECTION 2 */
.about .aboutMe-section {
    padding: 8rem 6rem 2rem 6rem;
}
.workspace-section {
    padding: 8rem 6rem 6rem 6rem;
    display: grid;
    gap: 6rem 0rem;
    grid-template-columns: 50% 50%;
}
.workspace-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.workspace-container div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 4rem;
}
.workspace-container ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.workspace-container div div img {
    display: flex;
    max-width: 18rem;
    border-radius: .8rem;
}
/* SECTION 2 */
.skills-section {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    margin-top: 2rem;
}
.skills-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    align-content: flex-start;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills span {
    padding: 1.6rem 2rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.data-container {
    width: 100%;
}
/* ____________ ABOUT ME _____________ */
/* ____________ CONTACT _____________ */
.contact-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}
.contact-container {
    display: grid;
    align-content: flex-start;
    row-gap: 2rem;
    margin-right: 2rem;
}
/* ____________ SOCIALS _____________ */
.socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 2.2rem;
    margin-top: 2rem;
}
.social-item {
    display: flex;
    justify-content: center;
    align-self: center;
}
.social-link {
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
}
.social-link svg {
    height: 100%;
    width: 100%;
}
.social-link svg path {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* ____________ SOCIALS _____________ */
/* ____________ FORM _____________ */
.form-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
}
.contact-section form {
    display: grid;
    width: 100%;
    grid-template-areas:
    "name email"
    "message message"
    "submit submit";
    flex-direction: column;
    gap: 2rem;
}
.name {
    display: grid;
    grid-auto-flow: row;
    grid-area: name;
    gap: 1rem;
}
.email {
    display: grid;
    grid-auto-flow: row;
    grid-area: email;
    gap: 1rem;
}
.message {
    display: grid;
    grid-auto-flow: row;
    grid-area: message;
    gap: 1rem;
    align-content: flex-start;
}
.submit {
    /* width: max-content; */
    grid-area: submit;
}
.contact-container form label {
    width: 100%;
}
.contact-section form input {
    width: 100%;
    height: 4.4rem;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.contact-section form textarea {
    width: 100%;
    height: 13.8rem;
    padding: 1.2rem 1.6rem;
    border: none;
    resize: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.contact-section form input:focus-visible,
.contact-section form textarea:focus-visible {
    outline: none;
}
/* ____________ FORM _____________ */
/* ____________ CONTACT _____________ */
/* ____________ FOOTER _____________ */
footer {
    width: 100%;
    padding: 0 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer-container {
    padding: 4rem 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
/* ____________ FOOTER _____________ */
/* ____________ MEDIA QUERIES _____________ */
@media screen and (max-width: 1400px) {
    .workspace-section {
        padding: 8rem 6rem 6rem 6rem;
        display: grid;
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 1200px) {
    .scroll-to-top.scrollToTopButton {
        right: 6rem;
    }
    .article-section {
        padding: 0 6rem;
    }
    .aboutInfo {
        flex-direction: column;
        align-items: flex-start;
    }
    .aboutInfo img {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .skills-section {
        grid-auto-flow: row;
    }
    .article, .project {
        background-color: var(--color-component);
        flex-direction: column;
    }
    .project {
        gap: 1.2rem;
    }
    .project img, .article img {
        width: 100%;
    }
    .contact-container form {
        grid-template-areas:
        "name"
        "email"
        "message"
        "submit";
        grid-template-columns: 1fr;
        grid-template-rows: 7.4rem 7.4rem 16.8rem 4rem;
        flex-direction: column;
        gap: 2rem;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 600px) {
    .scroll-to-top.scrollToTopButton {
        right: 2rem;
    }
    section, .header-section, .about .aboutMe-section, .about .workspace-section {
        padding: 8rem 2rem;
    }
    .about .workspace-section{
        padding: 8rem 2rem 6rem 2rem;
    }
    .aboutInfo {
        padding: 0 2rem;
    }
    .project-section, .blog-section {
        padding-inline: 2rem;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    /* NAV */
    nav {
        padding: 2rem 2rem;
        justify-content: right;
        height: 8rem;
    }
    nav .nav-menu {
        width: 100%;
        height: 120%;
        position: fixed;
        left: 0;
        top: 120%;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu .nav-menu-item {
        display: none;
    }
    nav .nav-menu-mobile {
        background-color: var(--color-bg);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-bottom: 8rem;
        position: fixed;
        overflow-y: scroll;
        scrollbar-width: none;
        top: 8rem;
        left: 0;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu-item {
        border-bottom: .2rem solid var(--color-component-variant1);
        display: flex;
    }
    nav .nav-menu-item:nth-child(3) {
        order: -1;
    }
    nav .nav-menu-item:nth-child(3) svg {
        height: 7.2rem;
    }
    nav .nav-menu-item a {
        width: 100%;
        align-self: center;
        padding: 4rem 2rem;
        cursor: pointer;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu-item a:hover {
        background-color: var(--color-component-variant1);
    }
    nav .nav-menu-item a:after {
        display: none;
    }
    nav .nav-menu-mobile .nav-menu-item a.active {
        color: var(--color-text);
    }
    .menu {
        background-color: transparent;
        display: block;
        cursor: pointer;
    }
    .menu svg {
        padding: 0;
    }
    .menu svg path {
        fill: var(--color-text);
    }
    /* NAV */
    hr {
        width: calc(100% - 4rem);
    }
    .project-buttons {
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .search-container {
        min-width: 26rem;
        width: 100%;
    }
    .article-section {
        padding: 0 2rem;
    }
    .article-container > img, .article-container > .video {
        min-width: 26rem;
    }
    table tr {
        display: flex;
        flex-direction: column;
    }
    table th.align-left {
        width: 100%;
    }
    .recommended-articles {
        justify-content: center;
    }
    .frontpage {
        border-radius: 0rem;
    }
    .aboutInfo-container .biography {
        margin-right: 0rem;
    }
    .workspace-container div div img {
        max-width: none;
        width: 300px;
    }
    footer {
        padding: 0 2rem;
    }
}
@media screen and (max-width: 365px) {
    .cta {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
    .project-section, .blog-section {
        padding: 8rem 2rem;
    }
}