@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=League+Spartan:wght@100..900&display=swap');
* {
    font-family: "League Spartan", serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
    background-color: var(--color-component-variant1);
}
img::selection {
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
:root {
    /* --color-bg: #1F2028;
    --color-primary: #00cbff;
    --color-component: #2E3039;
    --color-component-variant1: #262830;
    --color-component-variant2: #43454c; */
    --color-text: #FFF;
    --color-text-variant: #a9adc1;
    --transition: all .5s ease;
    
    --color-bg: #0d1117;
    --color-primary: #00cbff;
    --color-component: #212933;
    --color-component-variant1: #1b212a;
    --color-component-variant2: #2E3039;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-optical-sizing: auto;
    background-color: var(--color-bg);
    max-width: 1440px;
    font-style: normal;
    overflow-x: hidden;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--color-text);
    font-size: 9.6rem;
    font-weight: 700;
}
h2 {
    font-size: 2.8rem;
    font-weight: 400;
}
h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
h4 {
    font-size: 2.8rem;
    font-weight: 600;
}
p {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--color-text-variant);
}
li {
    font-size: 2.1rem;
    line-height: 2.6rem;
    font-weight: 400;
}
hr {
    border: 1px solid var(--color-component-variant1);
    margin: 0 auto;
    width: calc(100% - 12rem);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container hr {
    width: 100%;
}
section {
    width: 100%;
    padding: 8rem 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.cta {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 1.2rem;
    height: max-content;
}
.btn {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--color-text-variant);
    background-color: var(--color-component);
    text-align: center;
    display: inline-block;
    padding: 1.4rem 2rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    cursor: pointer;
}
.btn-primary {
    color: var(--color-text);
    background-color: var(--color-primary);
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.scroll-to-top.scrollToTopButton {
    background-color: var(--color-primary);
    bottom: 6.6rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: .8rem;
    width: 4.4rem;
    height: 4.4rem;
    padding: .8rem;
    /* box-shadow: 0 9px 25px 0 #2E3039; */
    box-shadow: none;
    border: none;
    outline: none;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.scrollToTopButton svg {
    width: 2.8rem;
    height: 2.8rem;
}
.scrollToTopButton svg path {
    fill: var(--color-text);
}
/* ____________ NAV _____________ */
nav {
    background-color: var(--color-bg);
    width: 100%;
    display: flex;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 2rem 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
nav ul {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    column-gap: 4.8rem;
}
nav .nav-menu-item {
    display: flex;
    place-content: center;
}
.nav-menu-logo svg {
    height: 3.6rem;
}
nav .nav-menu-item a {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-text-variant);
    cursor: pointer;
    align-self: center;
    position: relative;
    white-space: nowrap;
}
.nav-menu-logo svg path {
    fill: var(--color-primary);
}
nav .nav-menu-item a:after {
    background-color: var(--color-text);
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    transition: transform 0.25s ease;
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
nav .nav-menu-item a:hover:after {
    background-color: var(--color-text-variant);
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
nav .nav-menu-item a.active {
    color: var(--color-text);
}
nav .nav-menu-item a.active:after,
nav .nav-menu-item a.active:hover:after,
nav .nav-menu-item a.active:focus:after {
    background-color: var(--color-text);
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
nav .nav-menu-logo a:hover:after,
nav .nav-menu-logo a:focus:after,
nav .nav-menu-logo a.active:after,
nav .nav-menu-logo a.active:hover:after,
nav .nav-menu-logo a.active:focus:after {
    background-color: transparent;
}
/* MENU ICON */
.menu {
    display: none;
}
.menu svg {
    font-size: 4rem;
}
/* ____________ HEADER _____________ */
.header-section {
    padding: 12rem 6rem 22.5rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.header-container {
    color: var(--color-text);
    display: grid;
    grid-auto-flow: row;
    gap: 3.2rem;
    min-width: 26rem;
    max-width: 80rem;
}
.header-container h1 {
    color: var(--color-primary);
    position: relative;
}
.header-container h2 {
    position: relative;
}
.header-container h1::before,
.header-container h2::before {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--color-component-variant2);
    font-family: 'La Belle Aurore', cursive;
    content: "<h1>";
    position: absolute;
    top: -5rem;
}
.header-container h2::before {
    content: "<p>";
    top: -4rem;
}
.header-container h1 .last-letter::after,
.header-container h2 .last-letter::after {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--color-component-variant2);
    font-family: 'La Belle Aurore', cursive;
    content: "</h1>";
    position: relative;
    left: 1.6rem;
}
.header-container h2 .last-letter::after {
    content: "</p>";
}
/* ____________ PROJECT/BLOG PAGE _____________ */
.projects-section, .blog-section {
    display: flex;
    padding: 6rem 6rem 8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.projects-section {
    flex-direction: row;
}
.blog-section {
    flex-direction: column;
}
.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2rem;
    max-width: 94rem;
}
.blog-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.6rem;
    max-width: 80rem;
}
.search-container {
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 0 0 2rem;
    min-width: 42rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.search-container .search {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-text-variant);
    background-color: var(--color-component);
    width: 100%;
    padding: 1.6rem 2rem;
    border: 0;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    min-width: 26rem;
    max-width: 80rem;
    margin: 0 0 4rem;
}
.category-btn {
    font-size: 1.8rem;
    font-weight: 600;
} 
.category-btn.active {
    color: var(--color-text);
    background-color: var(--color-primary);
}
.category-btn:hover {
    border: 1px solid var(--color-component-variant1);
}
/* ____________ PROJECT/ARTICLE CARD _____________ */
.project, .article {
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.project, .article {
    display: flex;
    padding: .8rem;
    gap: 2rem;
}
.project {
    background-color: var(--color-component);
    width: 460px;
    flex-direction: column;
}
.article {
    background-color: transparent;
    flex-direction: row;
}
.article:hover {
    background-color: var(--color-component-variant1);
}
.article-title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3.2rem;
    color: var(--color-text);
}
.project img, .article img {
    object-fit: cover;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.article img {
    width: 32rem;
}
.article .article-description {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
/* ____________ PROJECT CARD _____________ */
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.project .project-description {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: calc(100% - 10.8rem);
}
.project-title {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3.2rem;
    color: var(--color-text);
}
.project-technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .8rem;
}
.project-technologies p {
    font-size: 1.6rem;
    height: 4rem;
    padding: .8rem 1.6rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    background-color: var(--color-component-variant1);
}
.project-buttons {
    display: flex;
    flex-direction: row;
    gap: .8rem;
    width: 8.8rem;
    margin-top: 4rem;
}
.project-buttons .btn, .project-buttons .btn-primary {
    width: 4rem;
    height: 4rem;
    padding: .8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.project-buttons .btn-variant {
    background-color: var(--color-component-variant1);
}
.project-buttons .btn svg, .project-buttons .btn-primary svg {
    font-size: 2.4rem;
}
/* ____________ ARTICLE PAGE _____________ */
.article-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: 0 auto;
}
.article-container {
    padding: 2 0 6rem 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container .btn {
    background-color: var(--color-component-variant1);
    margin-bottom: 2rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.article-container .btn svg {
    font-size: 2.4rem;
}
.article-container .btn svg path {
    fill: var(--color-text);
}
.article-container .btn-back {
    margin: 2rem 0;
    width: 4rem;
    height: 4rem;
    padding: .8rem;
}
time {
    font-size: 1.8rem;
    color: var(--color-text-variant);
}
.article-container h1 {
    font-size: 4.8rem;
}
.article-container h2 {
    font-size: 3.2rem;
}
.article-container h3, .article-container h4 {
    font-size: 2.8rem;
}
.article-container h3 span {
    font-size: 2.1rem;
}
.article-container p,
.article-container li,
table th .align-left p {
    font-size: 2.1rem;
    font-weight: 500;
}
.article-container h1,
.article-container h2,
.article-container h3,
.article-container h3 span,
.article-container h4 {
    font-weight: 600;
    color: var(--color-text);
}
.article-container h1 a,
.article-container h2 a,
.article-container h3 a,
.article-container h4 a,
.article-container p a,
.article-container li a {
    color: var(--color-primary);
}
.article-container p,
.article-container h3 span,
.article-container .comment,
.article-container li,
.article-container li::marker {
    color: var(--color-text-variant);
}
.article-container h1 a:hover,
.article-container h2 a:hover,
.article-container h3 a:hover,
.article-container h4 a:hover,
.article-container p a:hover,
.article-container li a:hover {
    text-decoration: underline;
}
.article-container h1 {
    margin-bottom: 1rem;
}
.article-container h2 {
    margin-bottom: 2rem;
}
.article-container h3 {
    margin-bottom: 2rem;
}
.article-container h4 {
    margin-bottom: 1rem;
}
.article-container p {
    margin-bottom: 1rem;
}
.article-container .marked {
    background-color: var(--color-component-variant1);
    padding: .4rem .8rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.article-container .comment {
    opacity: 30%;
}
.article-container ul, .article-container ol {
    padding-left: 1.4rem;
    margin-bottom: 2rem;
}
.article-container li {
    margin-bottom: 1rem;
}
.article-container > img, .article-container > .video {
    min-width: 44rem;
    max-width: 64rem;
    margin: 2rem 0;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-container .video {
    position: relative;
    padding-bottom: 56.25%;

}
.article-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.article-container video {
    width: 100%;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
/* CODE */
pre {
    margin: 2rem 0;
}
pre .lenguaje {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
pre .lenguaje svg {
    font-size: 3.2rem;
    position: absolute;
    border-radius: .4rem;
    transform: translate(-1.6rem, -2rem);
    -webkit-transform: translate(-1.6rem, -2rem);
    -moz-transform: translate(-1.6rem, -2rem);
    -ms-transform: translate(-1.6rem, -2rem);
    -o-transform: translate(-1.6rem, -2rem);
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
pre, code {
    font-size: 2.1rem;
    line-height: 2.6rem;
    color: var(--color-text-variant);
    background-color: var(--color-component-variant1);
    display: block;
    overflow: auto;
    padding: 1rem 1rem 1rem 1rem;
    tab-size: 2;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
pre .lenguaje svg path {
    font-size: 3.2rem;
    fill: var(--color-component-variant2);
}
code::selection{
    background-color: var(--color-component);
}
/* TABLE */
table {
    border-collapse: collapse;
}
table tr {
    border-top: 1.5px solid var(--color-component-variant1);
    border-bottom: 1.5px solid var(--color-component-variant1);
}
th, td {
    vertical-align: top;
    padding: 1.6rem 1.2rem;
    text-align: left;
}
table th.align-left {
    width: 18rem;
}
/* BOOK */
.book {
    background-color: var(--color-component);
    width: 240px;
    margin-bottom: 2rem;
    padding: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.book img {
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.recommended-articles {
    border-top: 2px solid var(--color-component-variant1);
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.recommended-articles a {
    width: 100%;
}
/* ____________ ABOUT ME _____________ */
.frontpage {
    background-color: var(--color-component-variant1);
    width: 100%;
    height: 20rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.aboutMe-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
}
.aboutInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    padding: 0 6rem;
    transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem);
    -moz-transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    -o-transform: translateY(-5rem);
}
.aboutInfo img {
    border: .4rem solid var(--color-bg);
    width: 16.0rem;
    height: 16.0rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.aboutInfo-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
}
.aboutInfo-container .biography {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.biography h1 {
    font-size: 4.8rem;
}
.biography h2 {
    font-size: 2.1rem;
    color: var(--color-text-variant);
}
/* SKILLS */
.skills-section {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    margin-top: 2rem;
}
.skills-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
    align-content: flex-start;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills-container h4, .skills span {
    font-size: 2.8rem;
    font-weight: 600;
}
.skills span {
    font-size: 1.8rem;
    color: var(--color-text-variant);
    background-color: var(--color-component);
    padding: 1.6rem 2rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.data-container {
    width: 100%;
}
/* WORKSPACE */
.about .aboutMe-section {
    padding: 8rem 6rem 2rem 6rem;
}
.aboutMe-section h3, .about-container h3 {
    color: var(--color-text);
}
.workspace-section {
    padding: 8rem 6rem 6rem 6rem;
    display: grid;
    gap: 6rem 0rem;
    grid-template-columns: 50% 50%;
}
.workspace-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.workspace-container div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 4rem;
}
.workspace-container h3 {
    color: var(--color-text);
}
.workspace-container ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.workspace-container ul li {
    color: var(--color-text-variant);
}
.workspace-container div div img {
    background-color: var(--color-component);
    display: flex;
    max-width: 18rem;
    border-radius: .8rem;
}
/* ____________ CONTACT _____________ */
.contact-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc( 50% - 2rem) 50% ;
    gap: 2rem;
}
.contact-container {
    display: grid;
    align-content: flex-start;
    row-gap: 2rem;
    margin-right: 2rem;
}
/* ____________ SOCIALS _____________ */
.socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: 2.2rem;
    margin-top: 2rem;
}
.social-item {
    display: flex;
    justify-content: center;
    align-self: center;
}
.social-link {
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
}
.social-link svg {
    height: 100%;
    width: 100%;
}
.social-link svg path {
    fill: var(--color-component-variant2);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.social-link:hover svg path {
    fill: var(--color-text);
}
/* ____________ FORM _____________ */
.form-container {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
}
.contact-section form {
    display: grid;
    width: 100%;
    grid-template-areas:
    "name email"
    "message message"
    "submit submit";
    flex-direction: column;
    gap: 2rem;
}
.name {
    display: grid;
    grid-auto-flow: row;
    grid-area: name;
    gap: 1rem;
}
.email {
    display: grid;
    grid-auto-flow: row;
    grid-area: email;
    gap: 1rem;
}
.message {
    display: grid;
    grid-auto-flow: row;
    grid-area: message;
    gap: 1rem;
    align-content: flex-start;
}
.submit {
    grid-area: submit;
}
label, textarea, input  {
    font-size: 1.8rem;
    font-weight: 400;
}
form label {
    font-weight: 500;
    color: var(--color-text-variant);
    width: 100%;
}
.contact-section form input {
    color: var(--color-text);
    background-color: var(--color-component);
    width: 100%;
    height: 4.4rem;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.contact-section form input::placeholder {
    color: var(--color-text-variant);
}
.contact-section form textarea {
    color: var(--color-text);
    background-color: var(--color-component);
    width: 100%;
    height: 13.8rem;
    padding: 1.2rem 1.6rem;
    border: none;
    resize: none;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}
.contact-section form textarea::placeholder {
    color: var(--color-text-variant);
}
.contact-section form input:focus-visible,
.contact-section form textarea:focus-visible {
    outline: none;
}
/* ____________ FOOTER _____________ */
footer {
    width: 100%;
    padding: 0 6rem;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.footer-container {
    padding: 4rem 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
/* ____________ MEDIA QUERIES _____________ */
@media screen and (max-width: 1400px) {
    .frontpage {
        border-radius: 0rem;
    }
    .workspace-section {
        padding: 8rem 6rem 6rem 6rem;
        display: grid;
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 1200px) {
    .scroll-to-top.scrollToTopButton {
        right: 6rem;
    }
    .article-section {
        padding: 0 6rem;
    }
    .aboutInfo {
        flex-direction: column;
        align-items: flex-start;
    }
    .aboutInfo-container {
        align-items: flex-end;
        transform: translateY(0rem);
        -webkit-transform: translateY(0rem);
        -moz-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
        -o-transform: translateY(0rem);
    }
    .contact-section {
        grid-auto-flow: row;
        grid-template-columns: auto;
        gap: 6rem;
    }
    .contact-section form {
        grid-template-areas:
        "name email"
        "message message"
        "submit submit";
        row-gap: 1rem;
    }
    .submit {
        width: max-content;
        grid-area: submit;
    }
}
@media screen and (max-width: 1060px) {
    .projects-container {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 800px) {
    .skills-section {
        grid-auto-flow: row;
    }
    .article, .project {
        background-color: var(--color-component);
        flex-direction: column;
    }
    .project {
        gap: 1.2rem;
    }
    .project img, .article img {
        width: 100%;
    }
    .aboutInfo-container {
        gap: 2rem;
    }
}
@media screen and (max-width: 600px) {
    section, .header-section, .about .aboutMe-section, .about .workspace-section {
        padding: 8rem 2rem;
    }
    hr {
        width: calc(100% - 4rem);
    }
    .scroll-to-top.scrollToTopButton {
        right: 2rem;
    }
    /* NAV */
    nav {
        padding: 2rem 2rem;
        justify-content: right;
        height: 8rem;
    }
    nav .nav-menu {
        width: 100%;
        height: 120%;
        position: fixed;
        left: 0;
        top: 120%;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu .nav-menu-item {
        display: none;
    }
    nav .nav-menu-mobile {
        background-color: var(--color-bg);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-bottom: 8rem;
        position: fixed;
        overflow-y: scroll;
        scrollbar-width: none;
        top: 8rem;
        left: 0;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu-item {
        border-bottom: .2rem solid var(--color-component-variant1);
        display: flex;
    }
    nav .nav-menu-item:nth-child(3) {
        order: -1;
    }
    nav .nav-menu-item:nth-child(3) svg {
        height: 7.2rem;
    }
    nav .nav-menu-item a {
        font-size: 2.8rem;
        width: 100%;
        align-self: center;
        padding: 4rem 2rem;
        cursor: pointer;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    nav .nav-menu-item a:hover {
        background-color: var(--color-component-variant1);
    }
    nav .nav-menu-item a:after {
        display: none;
    }
    nav .nav-menu-mobile .nav-menu-item a.active {
        color: var(--color-text);
    }
    .menu {
        background-color: transparent;
        display: block;
        cursor: pointer;
    }
    .menu svg {
        padding: 0;
    }
    .menu svg path {
        fill: var(--color-text);
    }
    .header-container h2::before {
        top: -4.5rem;
    }
    .projects-section, .blog-section {
        padding-inline: 2rem;
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    .project {
        width: 100%;
    }
    .search-container {
        min-width: 26rem;
        width: 100%;
    }
    .article-section {
        padding: 0 2rem;
    }
    .article-title {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.2rem;
        color: var(--color-text);
    }
    .article-container h1 {
        font-size: 4rem;
    }
    .article-container > img, .article-container > .video {
        min-width: 26rem;
    }
    table tr {
        display: flex;
        flex-direction: column;
    }
    table th.align-left {
        width: 100%;
    }
    .aboutInfo {
        padding: 0 2rem;
    }
    .about .workspace-section{
        padding: 8rem 2rem 6rem 2rem;
    }
    .workspace-container div div img {
        max-width: none;
        width: 300px;
    }
    footer {
        padding: 0 2rem;
    }    
}
@media screen and (max-width: 400px) {
    .contact-section form {
        grid-template-areas:
        "name email"
        "message message"
        "submit submit";
        row-gap: 1rem;
    }
}
@media screen and (max-width: 365px) {
    .cta {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        width: 100%;
    }
}